<% if drink.favorited_by?(current_user) %>
  <p id="favorite_buttons_<%= drink.id %>"><%= link_to drink_favorite_path(drink), method: :delete, remote: true do %>
      ♥<%= drink.favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p id="favorite_buttons_<%= drink.id %>"><%= link_to drink_favorite_path(drink), method: :post, remote: true do %>
    ♡<%= drink.favorites.count %>
  <% end %>
  </p>
<% end %>