<h1>編集画面</h1>

<%= form_with model: @drink do |f| %>

  <h4>画像</h4>
  <!--アップロードした画像があれば表示する-->
    <% if @drink.drink_image.attached? %>
        <!--再アップロードをプレビューするための記述-->
      <%= image_tag @drink.drink_image, class: "js-item-image" %>
    <% end %><br>
    <%= f.file_field :drink_image, accept: "image/*" %>

  <h4>銘柄</h4>
  <%= f.text_field :brand %>

  <h4>ジャンル</h4>
  <%= f.select :genre, Drink.genres.keys.map { |k| [I18n.t("enums.drink.genres.#{k}"), k] } %>

  <h4>テイスト</h4>
  <%= f.collection_check_boxes(:taste_ids, @tastes, :id, :taste) do |b| %>
    <%= b.label { b.check_box + b.text } %>
  <% end %>
  <h4>紹介文</h4>
  <%= f.text_area :text %>
  <%= f.submit '保存' %>
<% end %>
