<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--部分テンプレート-->
      <%= render 'drinks', user: @user,drink: @drink,taste: @taste,tastes: @tastes %>
      <!--部分テンプレート終-->
    </div>

  <!--ランキングの表示（スワイパー）-->
  <div class="col-md-8 offset-md-1">
  <h2 class="mt-3" style="font-family: Agbalumo; color:#8da0b6">Ranking</h2>
  <div class="slider">
  <% @all_ranks.each.with_index(1) do |drink, i| %>
    <div class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <% if drink.drink_image.attached? %>
            <%= image_tag drink.drink_image, size: "100x100", class: "card-img-top card-img" %>
            <% else %>
            <%= image_tag 'no_image', size: "100x100", class: "card-img-top card-img" %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h5 style="font-family: Agbalumo;">no.<%= i %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= drink.brand %></h5>
            <p class="card-text"><%= drink.text %></p>
            <p class="card-text"><small class="text-muted"><%= drink.user.name %></small></p>
            <p class="card-text"><%= link_to "Show", drink_path(drink), class: "btn btn-outline-secondary btn-block" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--　お酒の投稿一覧　-->
    <!--<div class="col-md-8 offset-md-1">-->
      <h2 class="mt-2" style="font-family: Agbalumo; color:#8da0b6">Drinks</h2>
      <div class="row">
        <% @drinks.each do |drink| %>
          <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
              <% if drink.drink_image.attached? %>
                <%= image_tag drink.drink_image, size: "100x100", class: "card-img-top card-img" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100", class: "card-img-top card-img" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= drink.brand %>
                </h5>
                <p class="card-text">
                  <%= drink.text %>
                </p>
                <div class="row mb-1 justify-content-end">
                  <div class="col-3">
                  <!--部分テンプレート（いいね非同期通信）-->
    　　　             <%= render "favorites/favorite", drink: drink %>
                  </div>
                  <%= link_to "Show", drink_path(drink), class: "btn btn-outline-secondary btn-block" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @drinks %>