<div class="container">
  <div class="row">
    <div class="col-3">
      <!--部分テンプレート-->
      <%= render 'drinks/form', user: @drink.user, drink: @new_drink, taste: @taste, tastes: @tastes %>
      <!--部分テンプレート終-->
    </div>

    <!--お酒の詳細-->
    <div class="col-9">
    <!--お酒の詳細修正-->
      <div class="col offset-md-1">
        <h2 class="mt-3" style="font-family: Agbalumo; color:#8da0b6">Drink detail</h2>
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4 mx-4 my-4" style="max-width: 100%;">
              <% if @drink.drink_image.attached? %>
                <%= image_tag @drink.drink_image, size: "200x200" %>
              <% else %>
                <%= image_tag asset_path('no_image.jpg'), size: "200x200" %>
              <% end %>
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title"><%= @drink.brand %></h5>
                <p class="card-text"><strong>ユーザーネーム</strong></p>
                <p class="card-text">
                  <%= link_to user_path(@drink) do %>
                    <%= @drink.user.name %>
                  <% end %>
                </p>
                <p class="card-text"><strong>コメント</strong></p>
                <p class="card-text"><%= @drink.text %></p>
                <p class="card-text"><strong>ジャンル</strong></p>
                <p class="card-text"><%= I18n.t("enums.drink.genres.#{@drink.genre}") %></p>
                <p class="card-text"><strong>テイスト</strong></p>
                <p class="card-text">
                  <% @drink.tastes.each do |taste| %>
                    <%= taste.taste %>
                  <% end %>
                </p>
                <div class="row mb-1 justify-content-end">
                  <!--部分テンプレート（いいね非同期通信）-->
                  <div id="favorite_buttons_<%= @drink.id %>" class="col-6 offset-6 col-lg-4 offset-lg-8">
                    <%= render "favorites/favorite", drink: @drink %>
                  </div>
                </div>
                <div class="row">
                  <div class="col"><small class="text-muted"><% if @drink.user == current_user %>
                    <%= link_to"Edit", edit_drink_path(@drink), class: "btn btn-outline-secondary btn-block" %>
                    <% end %></small>
                  </div>
                  <div class="col"><small class="text-muted"><% if @drink.user == current_user %>
                    <%= link_to"Delete", drink_path(@drink), method: :delete, class: "btn btn-outline-secondary btn-block" %>
                    <% end %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
           <div class="row mt-4">
    <div class="col-11">
    </div>
    <div class="col-1">
      <%= link_to :back do %>
        <i class="fa-solid fa-angles-left fa-2xl"></i>
      <% end %>
    </div>
  </div>
    </div>
  </div>
</div>

