<h2 class="mt-3" style="font-family: Agbalumo; color:#8da0b6">User Info</h2>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 d-flex align-items-center justify-content-center" style="max-width: 100%;">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "150x150" %>
        <% else %>
        <%= image_tag asset_path('no_image.jpg'), size: "150x150" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.introduction %></p>
        <p class="card-text"><small class="text-muted">follow <%= @user.followings.count %></small></p>
        <p class="card-text"><small class="text-muted">follower <%= @user.followers.count %></small></p>
        <p>
          <% if current_user.following?(@user) %>
            <%= link_to user_relationships_path(@user.id), class:"btn btn-outline-secondary width: 50%;", method: :delete do %>
              <i class="fa-solid fa-user-minus">フォローを外す</i>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), class:"btn btn-outline-secondary", method: :post do %>
              <i class="fa-solid fa-user-plus"><%= @user.status == "released" ? "フォローする" : "フォロー申請する" %></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>